{% extends "gifts/base.html" %}
{% load i18n %}
{% block title %}{% trans "Connection"%}{% endblock %}

{% block content %}

<h1 class="h4 mb-3 text-center">{% trans "Connection" %} - {{ group.name }}</h1>

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-3 text-center">{% trans "Connection" %}</h1>

        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <select name="user_id" class="form-select" required>
              <option value="">{% trans "Select your name" %}</option>
              {% for u in users %}
                <option value="{{ u.id }}">{{ u.pseudo }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}" required>
          </div>

          <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
            <label class="form-check-label" for="remember_me">
              {% trans "Remember me (14 days)" %}
            </label>
          </div>
          <button class="btn btn-primary w-100">{% trans "Login" %}</button>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
